.container
	.jumbotron
		h1 Multivision
		p welecome I can't seem to get my project running on Heroku, after countless of issues I already had to resolve to get the project as far as it is now I've reached a dead end.

	.row 
		.col-md-6
			h1 fdsa
		.col-md-6 
			h4 fdsa