.container
	.jumbotron
		h1 Multivision
		p welecome I can't seem to get my project running on Heroku, after countless of issues I already had to resolve to get the project as far as it is now I've reached a dead end.

	.row 
		.col-md-6
			div(ng-include="'partials/main/featured-course'")
		.col-md-6 
			div(ng-include="'partials/main/new-coursed'")