doctype html
html
	head
		base(href='')
		title MultiVision
		link(href='/css/site.css',rel='stylesheet',type='text/css')
		link(href='/vender/bower_componment/bootstrap/dist/css/bootstrap.css',rel='stylesheet',type='text/css')
		
	body(ng-app='app')
		include currentuser
		block main-content
		include scripts
		