script(src='vender/bower_componment/jquery/dist/jquery.js',type='text/javascript')
script(src='vender/bower_componment/angular/angular.js',type='text/javascript')
script(src='vender/bower_componment/angular-resource/angular-resource.js',type='text/javascript')
script(src='vender/bower_componment/angular-route/angular-route.js',type='text/javascript')
script(src='app/app.js',type='text/javascript')
script(src='app/main/mvMainCtrl.js',type='text/javascript')
script(src='app/main/mvNavBarLogin.js',type='text/javascript')