script(src='../../vender/bower_componment/jquery/dist/jquery.js',type='text/javascript')
script(src='../../vender/bower_componment/andular/angular.js',type='text/javascript')
script(src='../../vender/bower_componment/andular-resource/angular-resource.js',type='text/javascript')
script(src='../../vender/bower_componment/andular-route/angular-route.js',type='text/javascript')